@charset "utf-8";

.mv {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/mv.png) center;
}
.mv-ttl {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
}


.contact-form {
    margin-top: 40px;
}


.form-item {
    padding-left: 300px;
    margin-top: 40px;
}
.form-item-input {
}

.form-item-sumbit {
    background-color: black;
    color: white;
}