@charset "utf-8";

.mv {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/mv.png) center;
}
.mv-ttl {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
}


.top-contact {
    height: 650px;
}
.contact-form {
    padding-top: 100px;
}
.form-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.form-item-name {
    font-weight: bold;
}
.form-item-input {
    width: 100%;
    border: 1px solid rgb(211, 209, 209);
}
.form-item-textarea {
    border: 1px solid rgb(211, 209, 209);
}
.form-item-sumbit {
    width: 300px;
    padding: 10px;
    display: block;
    color: white;
    border: none;
    margin-bottom: 40px;
    background-color: black;
    margin: 20px auto 0;
}
.form-item-required {
    color: red;
}