@charset "utf-8";

.mv {
    height: 530px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/mv.png) center;
}
.mv-ttl {
    color: white;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
}
.mv-sub-ttl {
    color: white;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.top-content {
    color: white;
    background-color:black;
    height: 300px;
}
.top-content-ttl {
    padding-top: 70px;
}
.top-content-txt {
    margin: 20px 0px;
}

.service-ttl {
    text-align: center;
    padding: 40px;
}
.service-list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.service-item {
    width: 49%;
    margin: 10px 0;
}
.service-item-img img{
    width: 98%;
}
.service-item-ttl {
    font-size: 18px;
}
.service-item:nth-child(2n) {
    margin-right: 0;
}
.service-contact {
    width: 300px;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    background-color: rgb(185, 31, 3);
}
.service-contact a{
    color: white;
}

.news {
    height: 400px;
    margin-top: 40px;
    background-color: black;
}
.news-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    color: white;
}
.news-contact {
    height: 20px;
    padding: 5px 30px;
    color: white;
    background-color: rgb(185, 30, 30);
}
.news-list {
    width: 100%;
    margin-top: 30px;
}
.news-item-link {
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px 0;
}
.news-item-data {
    padding: 0 20px;
}
.news-item-ttl {
    font-size: 15px;
}

.blog {
    margin: 0 auto;
    padding: 40px 0;
}
.blog-ttl {
    text-align: center;
}
.blog-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.blog-item {
    width: 30%;
    margin: 0 30px 30px 0;
}
.blog-item-img img{
    width: 100%;
}
.blog-item-date {
    padding-bottom: 3px;
}
.blog-item-ttl a{
    color: black;
}
.blog-content {
    padding: 10px;
    background-color: rgb(185, 30, 30);
    color: white;
    display: block;
    width: 300px;
    text-align: center;
    margin: auto;
}

.company-list {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    color: white;

}
.company-item {
    width: 50%;
    height: 100px;
}
.company-link {
    background-color: red;
    height: 100px;
}
.recruit-link {
    background-color: black;
    height: 100px;
}
.company-item-link {
    display: inline-block;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 80px;
}

@media screen and (max-width: 768px) {
    .service-item {
        width: 100%;
    }
    .blog-item {
        width: 100%;
    }

}