@charset "utf-8";

.mv {
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/mv.png) center;
}
.mv-ttl {
    color: white;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 4px;
}


.service-item {
    padding: 20px 0;
    border-top: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.service-item:last-child{
    border-bottom: 1px solid black;
}
.service-item-img {
    width: 290px;
}
.service-item-img img {
    width: 100%;
}
.service-item-deta{
    width: calc(100% - 330px);
}
@media screen and (max-width:768px) {
    .service-item-img img {
        width: 100%;
    }
}